.home {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

  .overlay {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 1000;
    background: #ff6e40;  
  }
  
  .first {
    height: 33.3vh;
    position: absolute;    
    top: 0;
  }
  
  .second {
    height: 33.3vh;
    position: absolute;
    top: 33.3vh;
  }
  
  .third {
    height: 33.3vh;
    position: absolute;
    top: 66.6vh;
  }

